strong {
    color: #Fb05a9;
}
{ 
	font-size: 30px:
}
h1 {
    background-color: #F78Fc5;
}
h1 {font-size:25px;
}

}
h1 {font-family: Tahoma
}


Strong { font-family: brush script mt
}
b {color: #fccbe9;
}
i { color: #f1cbfc;
}
Body {
	color: #33FFEC;
}